In [1]:
import sqlite3
import pandas as pd

In [2]:
# Conexión a la base de datos
db_path = "./data/examen_bancario.db"
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [3]:
# Listar tablas disponibles
print("Tablas en la base de datos:")
tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
for table in tables:
    print("-", table[0])

Tablas en la base de datos:
- customers
- accounts
- transactions
- loans
- credit_cards

In [4]:
# Listar tablas disponibles
print("Tablas en la base de datos:")
tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='view';").fetchall()
for table in tables:
    print("-", table[0])

Tablas en la base de datos:
- vista_1_clientes_argentina_post2018
- vista_2_saldo_total_por_cliente
- vista_3_clientes_mas_3_cuentas
- vista_4_prestamos_activos
- vista_7_clientes_sin_tarjeta_credito
- vista_8_clientes_limite_credito_mayor_20000
- vista_9_top2_cuentas_por_cliente
- vista_10_clientes_prestamo_y_tarjeta_activos
- vista_5_primer_y_ultimo_movimiento
- vista_6_tipo_cuenta_mas_popular
- vista_11_transacciones_duplicadas

In [5]:
# Leer una tabla como DataFrame
df_customers = pd.read_sql("SELECT * FROM customers LIMIT 5", conn)
print("\nEjemplo de clientes:")
print(df_customers)

Ejemplo de clientes:
   customer_id first_name last_name                   email  country  \
0            1      Megan     Chang  greenwilliam@yahoo.com   Brazil
1            2      Tammy    Howard    juancampos@lloyd.org   Brazil
2            3       Kyle     Blair       wcastro@yahoo.com      USA
3            4     Cheryl    Durham       qgrimes@gmail.com  Germany
4            5    Sabrina     Davis  salazarmaria@yahoo.com    Japan

  registration_date
0        2020-06-24
1        2017-10-27
2        2020-09-12
3        2024-08-27
4        2019-06-21

In [6]:
# Ejecutar una consulta y guardar como nueva tabla
query = """
    CREATE TABLE IF NOT EXISTS table_saldo_total_por_cliente AS
    SELECT * FROM vista_2_saldo_total_por_cliente
"""
cursor.executescript(query)
conn.commit()
print("\n✅ Tabla 'top_accounts_by_balance' creada.")

# Mostrar contenido de la nueva tabla
df_top_accounts = pd.read_sql("SELECT * FROM table_saldo_total_por_cliente LIMIT 10", conn)
print("\nTop cuentas por cliente:")
print(df_top_accounts)

✅ Tabla 'top_accounts_by_balance' creada.

Top cuentas por cliente:
   customer_id first_name last_name  saldo_total
0            1      Megan     Chang    211010.60
1            2      Tammy    Howard    431494.90
2            3       Kyle     Blair    622668.54
3            4     Cheryl    Durham    490642.99
4            5    Sabrina     Davis    578651.52
5            6    Jessica   Padilla     97602.82
6            7   Victoria    Golden    445375.58
7            8     Marvin   Nielsen    184928.89
8            9    Antonio    Zavala    274991.97
9           10     Sandra     Kirby    531633.77

In [7]:
# Cerrar conexión
conn.close()